<!DOCTYPE html>
<html lang ="ko-KR">
<head>
<meta charset="utf-8">
<title>OL | Point</title>
<link rel="shortcut icon" href="../../images/favicon.png">
<link rel="stylesheet" href="../../css/style-point.css">
<script type="text/javascript" src="../../externlib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../externlib/ol45/ol-debug.js"></script>
</head>
<body>
    <div id="map_point" class="map"></div>
    <img src="../../images/pin.png" id="overlay_pin">
    <div id="overlay_coord"></div>
</body>
<script type="text/javascript" src="../../js/point.js"></script>
</html>