@CHARSET "UTF-8";

html, body {
padding: 0;
margin: 0;
width: 100%;
height: 100%;
}
#map_point {
width: 100%;
height: 100%;
}

#overlay_pin {
width: 20px; 
height: 20px; 
}

#overlay_coord {
position: relative;
float: right;
width: 170px;
height: 15px;
text-align: center;
z-index: 5;
top: -30px;
right: 30px;
background-color: white;
font-size: 12px;
padding: 2px 5px 2px 5px;
border: 1px solid grey;
border-radius: 10px;
}